parcautotest/pkgs/Wadl/MicrosoftTranslatorV2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/translatorv2" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="MicrosoftTranslatorV2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Microsoft Translator V2">Microsoft Translator vous permet de traduire du texte dans plusieurs langues.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/translatorv2" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="TextBody_Text_def" />
      <object name="TextBody">
        <property name="Text" type="string" />
      </object>
      <string name="Language_Code_def" />
      <string name="Language_Name_def" />
      <object name="Language">
        <property name="Code" type="string" />
        <property name="Name" type="string" />
      </object>
      <array typeRef="Language" name="Languages_responses_200_def" />
      <string name="Translate_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/translatorv2">
    <resource path="/{connectionId}/Languages">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Languages" actionName="Languages" visibility="advanced" siena:isDeprecated="false">
        <doc title="Obtenir les langues&#xA;Récupère toutes les langues que prend en charge le traducteur Microsoft pour les étendues de traduction, de translittération ou de dictionnaire" />
        <request>
          <param style="query" name="scope" type="xs:string" default="translation">
            <doc title="Étendue des langues prise en charge : traduction, translittération ou dictionnaire" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Languages_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Translate">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Translate" actionName="Translate" visibility="important" siena:isDeprecated="false">
        <doc title="Traduire le texte&#xA;Traduit du texte dans une langue spécifiée à l’aide du traducteur Microsoft." />
        <request>
          <param style="query" name="to" type="xs:string" required="true">
            <doc title="Code de langue cible (exemple : « fr »)." />
          </param>
          <param style="query" name="from" type="xs:string">
            <doc title="Langue source (si non indiquée, le traducteur Microsoft tente de la détecter automatiquement) (exemple : fr)." />
          </param>
          <param style="query" name="category" type="xs:string">
            <doc title="Catégorie de traduction (par défaut : « général »)." />
          </param>
          <param style="query" name="textType" type="xs:string">
            <doc title="Type de texte (par défaut : « brut »)." />
            <option value="plain" />
            <option value="html" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Text" path="/Text" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="xs:string" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Detect">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Detect" actionName="Detect" visibility="important" siena:isDeprecated="false">
        <doc title="Détecter la langue&#xA;Détecte la langue source du texte donné." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="Text" path="/Text" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Language" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_translatorv2" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>