parcautotest/pkgs/Wadl/MicrosoftTranslator.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/microsofttranslator" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="MicrosoftTranslator" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Microsoft Translator">Microsoft Translator vous permet de traduire du texte dans plusieurs langues.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/microsofttranslator" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Language_Code_def" />
      <string name="Language_Name_def" />
      <object name="Language">
        <property name="Code" type="string" />
        <property name="Name" type="string" />
      </object>
      <array typeRef="Language" name="Languages_responses_200_def" />
      <string name="Translate_responses_200_def" />
      <array typeRef="Language" name="SpeechLanguages_responses_200_def" />
      <string name="TextToSpeech_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/microsofttranslator">
    <resource path="/{connectionId}/TranslatableLanguages">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Languages" actionName="Languages" visibility="advanced" siena:isDeprecated="true">
        <doc title="Obtenir les langues&#xA;Récupère toutes les langues prises en charge par Microsoft Translator." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:Languages_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Translate">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Translate" actionName="Translate" visibility="important" siena:isDeprecated="true">
        <doc title="Traduire le texte&#xA;Traduit du texte en une langue spécifiée en utilisant Microsoft Translator." />
        <request>
          <param style="query" name="query" type="xs:string" required="true">
            <doc title="Texte à traduire." />
          </param>
          <param style="query" name="languageTo" type="xs:string" required="true">
            <doc title="Code de la langue cible (exemple : « fr »)." />
          </param>
          <param style="query" name="languageFrom" type="xs:string">
            <doc title="Langue source (si elle n'est pas spécifiée, Microsoft Translator essaie de la détecter automatiquement) (exemple : fr)." />
          </param>
          <param style="query" name="category" type="xs:string">
            <doc title="Catégorie de traduction (par défaut : « générale »)." />
          </param>
          <param style="query" name="contentType" type="xs:string">
            <doc title="Type de contenu (par défaut : « text/plain »)." />
            <option value="text/plain" />
            <option value="text/html" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="xs:string" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Detect">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Detect" actionName="Detect" visibility="important" siena:isDeprecated="true">
        <doc title="Détecter la langue&#xA;Détecte la langue source d'un texte donné." />
        <request>
          <param style="query" name="query" type="xs:string" required="true">
            <doc title="Texte à traduire." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Language" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/SpeakLanguages">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SpeechLanguages" actionName="SpeechLanguages" visibility="advanced" siena:isDeprecated="true">
        <doc title="Obtenir les langues vocales&#xA;Récupère les langues disponibles pour la synthèse vocale." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:SpeechLanguages_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Speak">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="TextToSpeech" actionName="TextToSpeech" visibility="important" siena:isDeprecated="true">
        <doc title="Conversion de texte par synthèse vocale&#xA;Convertit un texte donné en voix sous forme de flux audio au format wave." />
        <request>
          <param style="query" name="query" type="xs:string" required="true">
            <doc title="Texte à traduire." />
          </param>
          <param style="query" name="language" type="xs:string" required="true">
            <doc title="Code de langue dans lequel générer la voix (exemple : « fr-fr »)." />
          </param>
          <param style="query" name="format" type="xs:string">
            <doc title="Format audio à retourner (par défaut, audio/wav)." />
            <option value="audio/wav" />
            <option value="audio/mp3" />
          </param>
          <param style="query" name="options" type="xs:string">
            <doc title="Autres options du format (valeur par défaut : MinSize). Les options valides sont « MinSize » ou « MaxQuality »." />
            <option value="MinSize" />
            <option value="MaxQuality" />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="media" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_microsofttranslator" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>